name: Push to main

on:
  push:
    branches: [main]

jobs:
  ci:
    uses: ./.github/workflows/callable-ci.yml

  deploy:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - run: echo deploy
